.img-perfil {
  box-shadow: 0 20px 18px #9a9797;
  border-radius: 5px;
  width: 400px;
}

.title-perfil {
  font-size: 28px;
}

.text-perfil {
  font-size: 18px;
  text-align: justify;
}

.btn-navigate {
  font-size: 30px;
  color: #716e6e;
}

/*---Media querys---*/

@media screen and (max-width: 768px) {
  .img-perfil {
    width: auto;
  }

  .title-perfil {
    font-size: 25px;
  }

  .text-perfil {
    font-size: 16px;
  }

  .btn-navigate {
    font-size: 27px;
  }
}

@media screen and (max-width: 480px) {
  .img-perfil {
    width: auto;
  }

  .title-perfil {
    font-size: 21px;
  }

  .text-perfil {
    font-size: 15px;
  }

  .btn-navigate {
    font-size: 25px;
  }
}
