.btn-volver {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding-top: 10px;
    width: 150px;
    background-color: #3483fa;
    font-size: 20px;
    padding: 4px;
  }
 