.img-informacion {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.text-informacion1,
.text-informacion2,
.text-informacion3 {
  text-align: justify;
  font-size: 17px;
}

/*---Media querys---*/

@media screen and (max-width: 768px) {
  .img-informacion {
    width: auto;
  }

  .text-informacion1,
  .text-informacion2,
  .text-informacion3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .img-informacion {
    width: auto;
  }

  .text-informacion1,
  .text-informacion2,
  .text-informacion3 {
    font-size: 14px;
  }
}
