.img-logo {
  width: 350px;
}

.nav-link {
  font-size: 18px;
}

.paginas {
  font-size: 18px;
}

/*---Media querys---*/

@media screen and (max-width: 768px) {
  .img-logo {
    width: 280px;
    padding-top: 10px;
  }

  .navbar-toggler-icon {
    width: 16px;
    height: 16px;
    background-size: 100%;
    padding: 10px;
  }

  .nav-link {
    font-size: 17px;
  }

  .paginas {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .img-logo {
    width: 240px;
    padding-top: 10px;
  }

  .navbar-toggler-icon {
    width: 13px;
    height: 13px;
    background-size: 85%;
    padding: 10px;
  }

  .nav-link {
    font-size: 16px;
  }

  .paginas {
    font-size: 16px;
  }
}
